/* Error: $map: ".theme.col-1" is not a map.
 *    ,
 * 32 |             background-color: (map-get($name, $i));
 *    |                                ^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\component\_grid.scss 32:32  @import
 *   scss\component\_index.scss 5:9   @import
 *   scss\styles.scss 7:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $map: ".theme.col-1" is not a map.\a    \2577 \a 32 \2502              background-color: (map-get($name, $i));\d\a    \2502                                 ^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\component\\_grid.scss 32:32  @import\a   scss\\component\\_index.scss 5:9   @import\a   scss\\styles.scss 7:9             root stylesheet';
}
