//========================================
// Color Variables
//========================================


//Descriptive Colors
$Purple-Mountain-Majesty     :#927BC1;
$coral                       :#fd7856;
$french-lilac                :#deb2ee;
$anakiwa                     :#7ee6fd;
$vista-blue                  :#88d9a0;
$fountain-blue               :#4da2bb;
$sea-pink                    :#ec9fa3;
$vivid-tangerine             :#fd9f85;
$sunglo                      :#e4757a;
$emerald                     :#63cc82;
$malibu                      :#51ddfc;

//Functional Colors
$color-primary               :#58e1c1;
$color-secondary             :$malibu;
$color-text-default          :#fff;


//========================================
// Media Query Breakpoints
//========================================
