//==============================================
//              Buttons                          
// ============================================= 

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-tertiary;
    text-transform: uppercase;
    border-radius: 5px;
  }

  @each $i, $color in $button-colors {

    #{$i}{
      background-color: $color;
    }

  }

  @each $i, $color in $button-colors{
    .btn:hover{
      background-color: lighten(#{$color}, 15);
    }
  }

  
