//==============================================
//              Buttons                          
// ============================================= 

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-tertiary;
    text-transform: uppercase;
    border-radius: 5px;
    @each $key, $color in $button-colors{
      &.#{$key} {
        background-color: $color;
        &:hover{
          background-color: lighten($color, 15%);
        }
      }
    }
  }


  .default {
    background-color: $default;
  }
  
  .error {
    background-color: $error;
  }
  
  .info {
    background-color: $info;
  }
  
  .success {
    background-color: $success;
  }
  
  .warning {
    background-color: $warning;
  }
  
