  // ============================================= 
  //             Grid                      
  // ============================================= 

  .container {
    padding: 0 10px; 
    @media (min-width: $break-s ) {
        max-width: 1400px;
        @include centered;
      }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @media (min-width: $break-s) {
      flex-direction: row;
    }
  }
  
  [class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
  }

   @each $name, $theme in $themes {
    #{$name} {
      background-color: $theme;
    }
  }

  .card {
    flex-basis: 100%;
  }